<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About {%NAME%}</title>
  </head>
  <body>
    <h1>This is about {%NAME%}</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione cum
      sequi dolorum dignissimos porro dicta quibusdam enim amet laboriosam,
      nostrum tenetur quod quos, incidunt vel illo! Libero accusamus ullam
      repellendus.
    </p>
  </body>
</html>
